@import "tailwindcss";

@theme {
  --color-primary: #ec1313;
  --color-macos-dark: #1a1a1a;
  --color-macos-light: #2d2d2d;
  --color-macos-panel: #2a2a2a;
  --font-display: "Inter", sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-macos-dark);
  color: #e2e8f0;
  font-family: var(--font-display);
}
